section{
    height: auto;   
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button{
    margin-left: 42.5%;
    width: 15%;
    height: 50px;
}
mat-form-field{
    width: 50%;
}
a{
    width: 13%;
    margin-left: 25%;
}