section{
    height: auto;   
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
button{
    width: 15%;
    height: 50px;
    color: black;
    background-color: #d89595;
    border-color: #d17777;
}
mat-form-field{
    width: 50%;
}
a{
    width: 13.5%;
    margin-left: 25%;
}

.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}
.errorPersonalizado{
    color: rgb(218, 58, 58);
    font-size: small;
}