@import '../node_modules/swiper/swiper-bundle.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }
h1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
button{
    border-radius: 10px;
    border-color: #d19393;
    background-color: #d89595;
    color: white;
}

button:hover{
    background-color: #bb7979;
}

hr{
    opacity: 10%;
}